* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #54876f;
    text-align: center;
    font-family: Arial, sans-serif;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(205, 13, 13, 0.5);
    font-size: 8vmin;
    color: #548687;
    background-color:burlywood;
    cursor: pointer;
}

#reset-button,
#new-button {
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

#msg {
    color: black;
    font-size: 3vmin;
}

.messageContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background-color: white;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 2rem;
    opacity: 0;
    transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.messageContainer.show {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.hide {
    display: none;
}
